/* app css stylesheet */

body {
    text-align: center;
}

.tableau {
    margin: 0px auto;
    padding: 0px;
    width: 50%;
    box-shadow: 3px 3px 4px #888888;
    border: 1px solid #000000;

}
.tableau table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.tableau tbody tr:nth-child(odd) {
    background-color: #dedbff;
}

.tableau tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.form{
    width: 20%;
    margin: 0 auto;
    text-align: left;
}
