<!DOCTYPE html>
<html data-ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Exercice 1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="lib/angular-material.min.css">
        <link rel="stylesheet" href="styles/app.css">

    </head>
    <body  data-ng-controller="tableCtrl">

        <h2>Exercice 1</h2>

        <div class="tableau">
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Fonction</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in items">
                    <td>{{item.lastname}}</td>
                    <td>{{item.firstname}}</td>
                    <td>{{item.fct}}</td>
                    <td>
                        <button class="btn btn-primary">Supprimer</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form">

                <md-input-container>
                    <label>Nom</label>
                    <input ng-model="user.lastname">
                </md-input-container>

                <md-input-container>
                    <label>Prénom</label>
                    <input ng-model="user.firstname">
                </md-input-container>

                <md-input-container>
                    <label>Fonction</label>
                    <input ng-model="user.fct">
                </md-input-container>
            <md-button class="md-primary">Ajouter</md-button>
        </div>



        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-aria.min.js"></script>
        <script src="lib/angular/angular-animate.min.js"></script>
        <script src="lib/angular-material.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>
